---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <section
        class="flex flex-col h-[100dvh] bg-blend-overlay bg-fixed bg-black/40 relative"
        style="background-image: url(/Demichefv2/background-contacto.jpg);"
    >
        <div
            class="contacto flex flex-1 flex-col gap-4 items-center justify-center backdrop-blur-[3px] z-0"
        >
            <h1 class="text-white text-3xl tracking-widest">- CONTACTO -</h1>
            <p class="text-white text-xl font-semibold tracking-widest">
                Contactanos por whatsapp al:
            </p>
            <div class="flex flex-col justify-center items-center gap-3 py-2">
                <img class="w-10" src="/Demichefv2/Whatsapp_icon.png" alt="" />
                <p class="text-white text-2xl font-semibold tracking-[.25em]">
                    +56978158837
                </p>
            </div>
            <div class="flex items-center gap-3">
                <img class="w-10" src="/Demichefv2/Instagram_icon.png" alt="" />
                <p class="text-white text-2xl font-semibold tracking-[.25em]">
                    @Demichefpv
                </p>
            </div>
            <div class="flex flex-col items-center gap-5">
                <p class="text-white">O escribanos a:</p>
                <span class="text-xl font-semibold text-white"
                    >demichefpuertovaras@gmail.com</span
                >
            </div>
        </div>
    </section>
</Layout>
