---
import Layout from "../layouts/Layout.astro";
// import "/Demichefv2/global.css";
---

<Layout title="Contacto">
    <section class="bg-black">
        <h1 class="pt-40 text-white">SERVICIOS 1</h1>
    </section>
</Layout>
