---
import Layout from "../layouts/Layout.astro";
const base = import.meta.env.BASE_URL || "";
// import "../styles/global.css";
console.log(`En pagina index: ${base}`);
---

<Layout title="Demichef">
	<section
		class="flex flex-col h-[100dvh] bg-blend-overlay bg-fixed bg-black/40 relative -z-20"
		style={{ backgroundImage: `url(${base}background-hero.jpg)` }}
	>
		<div class="flex-1 flex relative z-199">
			<div
				class="flex flex-col items-center hero-section text-white text-center mx-auto w-full gap-16 pt-12 md:pt-32"
			>
				<div class="flex flex-col items-center gap-8">
					<h1 class="text-3xl font-light">- Panaderia Artesanal -</h1>
					<img class="w-56" src="logo.png" alt="" />
				</div>
				<div
					class="flex justify-around items-center flex-col w-full bg-white text-[#202020] h-fit gap-y-10 py-6"
				>
					<h2 class="font-light text-4xl mt-5">
						¡Delicias Artesanales a Pedido!
					</h2>
					<p class="md:w-2/3">
						<span class="font-semibold line-clamp-2 tracking-wide">
							Emprendimiento dedicado a la repostería artesanal y
							empanadas gourmet.</span
						> Cada creación es elaborada especialmente para ti, ¡sin
						stock disponible! Solo trabajamos bajo pedido para garantizar
						la máxima frescura y calidad.
					</p>
				</div>
			</div>
		</div>
	</section>
</Layout>
