---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="Astro">
	<head>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
	</head>
	<main>
		<Header />
	</main>
</Layout>
