---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <Header />
    <h1 class="pt-40">SERVICIOS</h1>
</Layout>
