<!-- Footer.astro -->
<footer
    class="flex items-center justify-around mt-3 bg-white py-4 bottom-0 w-full border-t"
>
    <div class="flex items-center justify-center text-center flex-col">
        <img class="w-20 pt-2" src="logo_footer.png" alt="" />
        <p class="w-80">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
            accusantium natus?
        </p>
    </div>
    <div>
        <a class="text-3xl cursor-pointer" href=""
            ><ion-icon name="logo-instagram"></ion-icon></a
        >
        <a class="text-3xl cursor-pointer" href=""
            ><ion-icon name="logo-whatsapp"></ion-icon></a
        >
        <a class="text-3xl cursor-pointer" href=""
            ><ion-icon name="logo-whatsapp"></ion-icon></a
        >
    </div>
</footer>
