---
const currentPath = Astro.url.pathname;
---

<script type="text/javascript">
    function onToggleMenu(e) {
        const navLinks = document.querySelector(".nav-links");
        e.name = e.name === "menu" ? "close" : "menu";
        navLinks.classList.toggle("top-[90%]");
        res_menu.setAttribute(
            "src",
            e.name === "menu" ? "/Close_icon.svg" : "/Hamburger_icon.svg",
        );
    }
    window.addEventListener("scroll", function () {
        const bg_navbar = document.querySelectorAll(".cambia");
        bg_navbar.forEach(function (element) {
            if (window.scrollY > 50) {
                element.classList.add("conScroll");
            } else {
                element.classList.remove("conScroll");
            }
        });
    });
    window.addEventListener("scroll", function () {
        const logo_navbar = document.querySelector(".logo_nav");
        if (window.scrollY > 50) {
            logo_navbar.classList.add("logo_nav_scroll");
        } else {
            logo_navbar.classList.remove("logo_nav_scroll");
        }
    });
</script>

<header
    class="bg-white md:bg-white/10 md:backdrop-blur-sm pb-2 top-0 md:fixed md:top-0 relative z-[88888888] min-w-[100dvw] md:text-white cambia"
>
    <h2 class="flex justify-center border-b-2 bg-[#202020] text-white">
        Demichef 👨🏻‍🍳 | Repostería a domicilio en Puerto Varas
    </h2>
    <nav
        class="flex justify-between items-center md:w-[92%] px-6 md:px-0 mx-auto bg-white md:bg-transparent cambia"
    >
        <div>
            <img class="logo_nav w-20 pt-2" src="logo_footer_svg.svg" alt="" />
        </div>
        <div
            class="nav-links ease-in-out duration-500 md:duration-0 -z-[10] md:z-[10] md:static absolute md:min-h-fit min-h-[30vh] left-0 top-[-135%] md:w-auto w-full flex items-center px-4 bg-white md:bg-transparent cambia"
        >
            <ul
                class="flex md:flex-row flex-col justify-start md:gap-[2vw] gap-8 md:items-center w-full"
            >
                <li
                    class={`md:p-2 flex-1 cursor-pointer w-full text-start nav-page ${currentPath === "/" ? "active" : ""}`}
                >
                    <a href="/">Inicio</a>
                </li>
                <li
                    class={`md:p-2 flex-1  cursor-pointer w-full text-start nav-page ${currentPath === "/contacto" ? "active" : ""}`}
                >
                    <a href="/contacto">Contacto</a>
                </li>
                <li
                    class={`md:p-2 flex-1 r cursor-pointer w-full text-start nav-page ${currentPath === "/productos" ? "active" : ""}`}
                >
                    <a href="/productos">Productos</a>
                </li>
                <li
                    class={`md:p-2 flex-1  cursor-pointer w-full text-start nav-page ${currentPath === "/servicios" ? "active" : ""}`}
                >
                    <a href="/servicios">Horarios</a>
                </li>
            </ul>
        </div>
        <div
            class="flex
                        items-center
                        gap-6
                        md:hidden"
        >
            <img
                id="res_menu"
                onclick="onToggleMenu(this)"
                class="cursor-pointer w-8 h-12"
                src="/Hamburger_icon.svg"
                alt=""
            />
        </div>
    </nav>
</header>

<style>
    .active {
        color: #c9b4a2;
        font-weight: bold;
        text-align: center;
        border-bottom: #c9b4a2 1px solid;
    }
    .conScroll {
        background-color: white;

        color: black;
    }
    @media (min-width: 640px) {
        .logo_nav {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(100%) contrast(100%);
        }
        .logo_nav_scroll {
            /* negro */
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(0%) contrast(100%);
        }
    }
</style>
