---
const currentPath = Astro.url.pathname;
console.log(currentPath);
---

<script type="text/javascript">
    function onToggleMenu(e) {
        const navLinks = document.querySelector(".nav-links");
        e.name = e.name === "menu" ? "close" : "menu";
        navLinks.classList.toggle("top-[90%]");
    }
    console.log(currentPath);
</script>

<header
    class="bg-white pb-2 top-0 md:fixed md:top-0 relative z-[88888888] min-w-[100dvw]"
>
    <h2 class="flex justify-center bg-white border-b-2">
        Demichef 👨🏻‍🍳 | Repostería a domicilio en Puerto Varas
    </h2>
    <nav class="flex justify-between items-center w-[92%] mx-auto bg-white">
        <div>
            <img class="w-16 pt-2" src="/logo.png" alt="" />
        </div>
        <div
            class="nav-links -z-[10] md:z-[10] duration-500 md:static absolute md:min-h-fit min-h-[30vh] left-0 top-[-135%] md:w-auto w-full flex items-center px-4 bg-white"
        >
            <ul
                class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8"
            >
                <li
                    class={`md:p-2 flex-1 text-center cursor-pointer nav-page ${currentPath === "/" ? "active" : ""}`}
                >
                    <a href="/">Inicio</a>
                </li>
                <li
                    class={`md:p-2 flex-1 text-center cursor-pointer nav-page ${currentPath === "/contacto" ? "active" : ""}`}
                >
                    <a href="/contacto">Contacto</a>
                </li>
                <li
                    class={`md:p-2 flex-1 text-center cursor-pointer nav-page ${currentPath === "/productos" ? "active" : ""}`}
                >
                    <a href="/productos">Productos</a>
                </li>
                <li
                    class={`md:p-2 flex-1 text-center cursor-pointer nav-page ${currentPath === "/servicios" ? "active" : ""}`}
                >
                    <a href="/servicios">Servicios</a>
                </li>
            </ul>
        </div>
        <div
            class="flex
                        items-center
                        gap-6
                        md:hidden"
        >
            <ion-icon
                onclick="onToggleMenu(this)"
                name="menu"
                class="text-3xl cursor-pointer"></ion-icon>
        </div>
    </nav>
</header>

<style>
    .active {
        color: #c9b4a2;
        font-weight: bold;
    }
</style>
