---
const currentPath = Astro.url.pathname;
console.log(currentPath);
const base = import.meta.env.BASE_URL || "";
console.log(base);
---

<script type="text/javascript">
    function onToggleMenu(e) {
        const navLinks = document.querySelector(".nav-links");
        navLinks.classList.toggle("top-[90%]");
        const menuIcon = `
        <svg class="icon icon-tabler icon-tabler-menu-2" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg>
    `;
        const closeIcon = `
        <svg class="icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    `;

        e.innerHTML = e.innerHTML.includes("icon-tabler-menu-2")
            ? closeIcon
            : menuIcon;
    }
    window.addEventListener("scroll", function () {
        const bg_navbar = document.querySelectorAll(".cambia");
        bg_navbar.forEach(function (element) {
            if (window.scrollY > 50) {
                element.classList.add("conScroll");
            } else {
                element.classList.remove("conScroll");
            }
        });
    });
    window.addEventListener("scroll", function () {
        const logo_navbar = document.querySelector(".logo_nav");
        if (window.scrollY > 50) {
            logo_navbar.classList.add("logo_nav_scroll");
        } else {
            logo_navbar.classList.remove("logo_nav_scroll");
        }
    });
</script>

<header
    class="bg-white md:bg-white/10 md:backdrop-blur-sm pb-2 top-0 md:fixed md:top-0 relative z-[88888888] min-w-[100dvw] md:text-white cambia"
>
    <h2 class="flex justify-center border-b-2 bg-[#202020] text-white">
        Demichef 👨🏻‍🍳 | Repostería a domicilio en Puerto Varas
    </h2>
    <nav
        class="flex justify-between items-center md:w-[92%] px-6 md:px-0 mx-auto bg-white md:bg-transparent cambia"
    >
        <div>
            <img
                class="logo_nav w-20 pt-2"
                src="/Demichefv2/logo_footer_svg.svg"
                alt=""
            />
        </div>
        <div
            class="nav-links ease-in-out duration-500 md:duration-0 -z-[10] md:z-[10] md:static absolute md:min-h-fit min-h-[30vh] left-0 top-[-135%] md:w-auto w-full flex items-center px-4 bg-white md:bg-transparent cambia"
        >
            <ul
                class="flex md:flex-row flex-col justify-start md:gap-[2vw] gap-8 md:items-center w-full"
            >
                <li
                    class={`md:p-2 flex-1 cursor-pointer w-full text-start nav-page ${currentPath === "/" ? "active" : ""}`}
                >
                    <a href="/">Inicio</a>
                </li>
                <li
                    class={`md:p-2 flex-1  cursor-pointer w-full text-start nav-page ${currentPath === "/contacto" ? "active" : ""}`}
                >
                    <a href="/contacto">Contacto</a>
                </li>
                <li
                    class={`md:p-2 flex-1 r cursor-pointer w-full text-start nav-page ${currentPath === "/productos" ? "active" : ""}`}
                >
                    <a href="/productos">Productos</a>
                </li>
                <li
                    class={`md:p-2 flex-1  cursor-pointer w-full text-start nav-page ${currentPath === "/horarios" ? "active" : ""}`}
                >
                    <a href="/horarios">Horarios</a>
                </li>
            </ul>
        </div>
        <div
            class="flex
                        items-center
                        gap-6
                        md:hidden"
        >
            <svg
                id="res_menu"
                onclick="onToggleMenu(this)"
                class="cursor-pointer w-8 h-12 icon icon-tabler icon-tabler-menu-2"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 6l16 0"></path>
                <path d="M4 12l16 0"></path>
                <path d="M4 18l16 0"></path>
            </svg>
        </div>
    </nav>
</header>

<style>
    .active {
        color: #c9b4a2;
        font-weight: bold;
        text-align: center;
        border-bottom: #c9b4a2 1px solid;
    }
    .conScroll {
        background-color: white;

        color: black;
    }
    @media (min-width: 640px) {
        .logo_nav {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(100%) contrast(100%);
        }
        .logo_nav_scroll {
            /* negro */
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(0%) contrast(100%);
        }
    }
</style>
